link(rel='stylesheet', href='/style.css')
div#wrapper
    div#content
        img(src='/logo.png').banner
        h1.success Authentication Successful
        p The bridge now knows about your account. If you would like to stop the bridge from using your account, send
          |  the message "!deauth" to the bridge, much like how you started the authentication process.
        br
        p You may now close this page.
    div.muted.footer
        a(href="https://matrix.to/#/#instagram-bridge:matrix.org", target="blank") #instagram-bridge:matrix.org