link(rel='stylesheet', href='/style.css')
div#wrapper
    div#content
        img(src='/logo.png').banner
        h1.error Authentication Failed
        p We were not able to process your authentication request. Please try again later.
    div.muted.footer
        a(href="https://matrix.to/#/#instagram-bridge:matrix.org", target="blank") #instagram-bridge:matrix.org