<div>
    <h3 class="text-success">Welcome</h3>
    <p>This bridge tracks Instagram accounts and posts media that is uploaded to Matrix rooms. To get started, invite <code><a
            href="https://matrix.to/#/@_instagram:t2bot.io">@_instagram:t2bot.io</a></code> to a private conversation and
        type <code>!help</code></p>
    <h3>Usage</h3>
    <p>To follow an individual user, join their Instagram room. For example, <code><a
            href="https://matrix.to/#/#_instagram_turt2live:t2bot.io">#_instagram_turt2live:t2bot.io</a></code> is
        turt2live's Instagram room.</p>
    <p style="margin-top: 8px;">If you'd like an Instagram user to post to your own room, invite the virtual user directly,
        such as <code><a href="https://matrix.to/#/@_instagram_turt2live:t2bot.io">@_instagram_turt2live:t2bot.io</a></code>
    </p>
</div>